<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        .side-bar {
            min-height: calc(100vh - 34px);
            padding-left: 0px;
            padding-right: 0px;
        }
        .admin-menu{
            padding-left: 30px;
            padding-right: 30px;
        }
        .list-group-item-action{
            border: 0;
        }
    </style>
</head>
<body class="bg-light">

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark row">
        <h4 class="text-white justify-content-start"><span class="font-weight-bold" th:text="${user.login}">login</span> with roles: <span th:text="${#strings.listJoin(user.role, ' ')}">role</span></h4>
        <a href="/logout" class="link text-secondary justify-content-end">Logout</a>
    </nav>
    <div class="row">
        <div class="col-2 bg-white side-bar">
            <div class="list-group mt-3">
                <a href="#admin" class="list-group-item list-group-item-action active" data-toggle="list">Admin</a>
                <a href="#user" class="list-group-item list-group-item-action" data-toggle="list">User</a>
            </div>
        </div>
        <div class="col-10 admin-menu my-3">
            <div class="tab-content">
                <div class="tab-pane active" id="admin" role="tabpanel">
                    <h1 class="mb-2">Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="usersTable">
                            <div class="card mb-2">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body">
                                    <table class="table table-striped mt-2 bg-white">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Login</th>
                                            <th>Age</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="each : ${allUsers}">
                                            <td th:utext="${each.id}">ID</td>
                                            <td th:utext="${each.name}">Name</td>
                                            <td th:utext="${each.login}">Login</td>
                                            <td th:utext="${each.age}">Age</td>
                                            <td th:text="${#strings.listJoin(each.role, ' ')}">Role</td>
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal"
                                                        data-target="#editModal"
                                                        th:data-target="${'#edituser'+each.getId()}">
                                                    Edit
                                                </button>
                                            </td>
                                            <div class="modal fade" th:id="${'edituser'+each.getId()}" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel2">Edit
                                                                user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="col-6 offset-3">
                                                        <form th:method="PATCH"
                                                              th:action="@{/admin/{id}(id=${each.getId()})}">
                                                            <div class="modal-body text-center">
                                                                <div class="form-group">
                                                                    <label for="idEdit"
                                                                           class="col-form-label"><b>ID</b></label>
                                                                    <input readonly th:type="text" class="form-control"
                                                                           id="idEdit"
                                                                           th:value="${each.getId()}"
                                                                           th:name="id">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="nameEdit"
                                                                           class="col-form-label"><b>Name</b></label>
                                                                    <input th:type="text" class="form-control"
                                                                           id="nameEdit"
                                                                           th:value="${each.getName()}"
                                                                           th:name="name" required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="loginEdit"
                                                                           class="col-form-label"><b>Login</b></label>
                                                                    <input th:type="text" class="form-control"
                                                                           id="loginEdit"
                                                                           th:value="${each.getLogin()}"
                                                                           th:name="login" required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="passEdit"
                                                                           class="col-form-label"><b>Password</b></label>
                                                                    <input type="password" class="form-control"
                                                                           id="passEdit"
                                                                           th:value="${each.getPassword()}"
                                                                           th:name="password" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="age1"
                                                                           class="col-form-label"><b>Age</b></label>
                                                                    <input type="number" class="form-control"
                                                                           id="age1"
                                                                           th:value="${each.getAge()}"
                                                                           th:name="age" required>
                                                                </div>
                                                                <label for="rolesUpdate"><b>Role</b></label>
                                                                <select class="form-select h-75 w-100 form-control" size="2"
                                                                        id="rolesUpdate"
                                                                        th:name="role"
                                                                        multiple="multiple" required>
                                                                    <option th:each="role : ${roles}"
                                                                            th:selected="(${each.getRole().contains(role)})"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.role}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#deleteModal"
                                                        th:data-target="${'#deleteUser'+each.getId()}">
                                                    Delete
                                                </button>
                                            </td>
                                            <div class="modal fade" th:id="${'deleteUser'+each.getId()}" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="col-6 offset-3">
                                                        <form th:method="DELETE"
                                                              th:action="@{/admin/{id}/delete(id=${each.getId()})}" >
                                                            <div class="modal-body text-center ">
                                                                <div class="form-group">
                                                                    <label for="idDelete"
                                                                           class="col-form-label"><b>ID</b></label>
                                                                    <input th:type="numbers" class="form-control"
                                                                           id="idDelete"
                                                                           th:value="${each.getId()}"
                                                                           th:name="id" disabled>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="loginDelete"
                                                                           class="col-form-label"><b>Login</b></label>
                                                                    <input th:type="text" class="form-control"
                                                                           id="loginDelete"
                                                                           th:value="${each.getLogin()}"
                                                                           th:name="login" disabled>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="deleteName"
                                                                           class="col-form-label"><b>Name</b></label>
                                                                    <input th:type="text" class="form-control"
                                                                           id="deleteName"
                                                                           th:value="${each.getName()}"
                                                                           th:name="name" disabled>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="passwordDelete"
                                                                           class="col-form-label"><b>Password</b></label>
                                                                    <input type="password" class="form-control"
                                                                           id="passwordDelete"
                                                                           th:value="${each.getPassword()}"
                                                                           th:name="password" disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ageDelete"
                                                                           class="col-form-label"><b>Age</b></label>
                                                                    <input type="number" class="form-control"
                                                                           id="ageDelete"
                                                                           th:value="${each.getAge()}"
                                                                           th:name="age" disabled>
                                                                </div>
                                                                <label for="rolesDelete"><b>Role</b></label>
                                                                <select readonly disabled="disabled" class="form-control form-select" name="listRoles" size="2"
                                                                        id="rolesDelete"
                                                                        multiple="multiple">
                                                                    <option th:each="role : ${roles}"
                                                                            th:name="*{roles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.role}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>

                                                </div>
                                                </form>
                                                </div>
                                            </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="newUser">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body">

                                    <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4" th:align="center"
                                          th:method="POST" th:action="@{/admin/save}" th:object="${newUser}">
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="login">Login</label>
                                            <input class="form-control" th:type="text" th:field="*{login}" id="login" required placeholder="login">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="name">Name</label>
                                            <input class="form-control" th:type="text" th:field="*{name}" id="name" required placeholder="name">
                                        </div>
                                        <div class="form-group password">
                                            <label class="font-weight-bold" for="password">Password</label>
                                            <input class="form-control" th:type="password" th:field="*{password}" id="password" required placeholder="password">
                                        </div>
                                        <div class="form-group">
                                            <label class="font-weight-bold" for="age">Age</label>
                                            <input class="form-control" th:type="text" th:field="*{age}" id="age" required placeholder="age">
                                        </div>

                                        <label>Roles</label>

                                        <select class="form-select w-100 form-control" size="2"
                                                th:name="role"
                                                multiple="multiple" required>
                                            <option th:each="role : ${roles}"
                                                    th:value="${role.id}"
                                                    th:text="${role.role}"
                                                    th:field="*{role}">
                                            </option>
                                        </select>
                                        <div class="form-group">
                                            <button class="btn btn-success align-content-center mt-2" type="submit">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="user" role="tabpanel">
                    <h1 class="mb-2">User information-page</h1>
                    <div class="card mb-2">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">
                            <table class="table table-striped mt-2 bg-white">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Login</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${user.id}">ID</td>
                                    <td th:utext="${user.name}">Name</td>
                                    <td th:utext="${user.login}">Login</td>
                                    <td th:utext="${user.age}">Age</td>
                                    <td th:text="${#strings.listJoin(user.role, ' ')}">Role</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>